form{
    div:nth-child(2n+1){
        background-color: skyblue;
        font-size: 22px;
    }
    div:nth-child(2n){
        font-size: 18px;
        
    }
    div:last-child{
        font-size: 18px;
        background-color: #fff;
        
    }
}